{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"ja" }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'mm/css/bootstrap.min.css' %}">
{% block extra_css %}{% endblock %}
<title>{% block title %}M2DS{% endblock %}</title>
</head>

<body>
  <div class="container">
    <a href="{% url 'mm:cult_list' %}">Cultivation Records</a>
    {% block content %}
        {{ content }}
    {% endblock %}
  </div>
<script src="{% static 'mm/js/jquery.min.js' %}"></script>
<script src="{% static 'mm/js/bootstrap.bundle.min.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
