{% extends "mm/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <!-- Navigation bar -->
    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="{% url 'mm:index' %}" class="nav-link active">Top</a></li>
        <li class="nav-item"><a href="{% url 'mm:cult_list' %}" class="nav-link">Cultivation</a></li>
        <li class="nav-item"><a href="{% url 'mm:strain_list' %}" class="nav-link">Strains</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Markers</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Table</a></li>
    </ul>

    <h4 class="mt-4 border-bottom">Import Dataset</h4>
{% endblock content %}
