{% extends "mm/base.html" %}

{% block content %}
    <form action="{% url 'mm:marker_list' %}" method="get">
    <div class="row" style="margin-top:10px; margin-bottom:10px;">
        <div class="col-md-1">
            Population:
        </div>
        <div class="col-md-4">
            <select class="form-control" name="population_id">
                <option value="">--------</option>
                {% for pop in population %}
                    <option value={{pop.id}}>{{pop.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Select</button>
        </div>
    </div>
    </form>

    <h4 class="mt-4 border-bottom">Markers Records{% if population_name %} of {{population_name}}{% endif %}</h4>

    <div class="row">
        <div class="col-md-12"><h5>Genotypic Markers</h5></div>
    </div>
    <table class="table table-bordered table-sm table-hover">
      <thead>
        <tr>
            <th scope="col">Population</th>
            <th scope="col">Marker</th>
            <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        {% for genotype_marker_rec in genotype_marker_recs %}
        <tr>
            <td>{{ genotype_marker_rec.population }}</td>
            <td>{{ genotype_marker_rec.name }}</td>
            <td>{{ genotype_marker_rec.get_mtype_display }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="row">
        <div class="col-md-12"><h5>Phenotypic Markers</h5></div>
    </div>
    <table class="table table-bordered table-sm table-hover">
      <thead>
        <tr>
            <th scope="col">Population</th>
            <th scope="col">Marker</th>
            <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        {% for phenotype_marker_rec in phenotype_marker_recs %}
        <tr>
            <td>{{ phenotype_marker_rec.population }}</td>
            <td>{{ phenotype_marker_rec.name }}</td>
            <td>{{ phenotype_marker_rec.get_mtype_display }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
