{% extends "mm/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <h4 class="mt-4 mb-5 border-bottom">Confirm | Population Record</h4>
    {% for population_rec in population_recs %}
        <div class="row">
            <div class="col-md-2"><h5>Record ID: {{population_rec.id}}</h5></div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr><td style="width:200px;">Name</td><td>{{population_rec.name}}</td></tr>
                    <tr><td>Year</td><td>{{population_rec.year}}</td></tr>
                    <tr><td>Place</td><td>{{population_rec.place}}</td></tr>
                    <tr><td>Cultivator</td><td>{{population_rec.cultivator}}</td></tr>
                    <tr><td>Description</td><td>{{population_rec.description}}</td></tr>
                </tbody>
            </table>
        </div>
        {% if population_id %}
        <form action="{% url 'mm:population_del' population_id=population_id %}" method="post">
        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'mm:population_list' %}" class="btn btn-outline-dark">Back</a>
            </div>
            <div class="offset-md-8 col-md-2">
                <a href="{% url 'mm:population_del'  population_id=population_rec.id %}" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
        </form>
        {% endif %}
    {% endfor %}
{% endblock content %}
