{% extends "mm/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <h4 class="mt-4 border-bottom">Population Records</h4>
    <a href="{% url 'mm:population_add' %}" class="btn btn-primary my-3">Add Population</a>
    <table class="table table-bordered table-sm table-hover">
      <thead>
        <tr>
            <th scope="col">Population</th>
            <th scope="col">Year</th>
            <th scope="col">Place</th>
            <th scope="col">Cultivator</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for population_rec in population_recs %}
        <tr>
            <td>{{ population_rec.name }}</td>
            <td>{{ population_rec.year }}</td>
            <td>{{ population_rec.place }}</td>
            <td>{{ population_rec.cultivator }}</td>
            <td>
                <a href="{% url 'mm:dataset_upload' population_id=population_rec.id %}" class="btn btn-outline-secondary btn-sm">Upload/Import</a>
                <a href="{% url 'mm:strain_list_subset' population_id=population_rec.id %}" class="btn btn-outline-primary btn-sm">Strains</a>
                <a href="{% url 'mm:marker_list_subset' population_id=population_rec.id %}" class="btn btn-outline-success btn-sm">Markers</a>
                <a href="{% url 'mm:mstable_list_subset' population_id=population_rec.id %}" class="btn btn-outline-warning btn-sm">MS Table</a>
                <a href="{% url 'mm:dataset_export' population_id=population_rec.id %}" class="btn btn-outline-secondary btn-sm">Export/Download</a>
            </td>
            <td>
                <a href="{% url 'mm:population_edit' population_id=population_rec.id %}" class="btn btn-outline-dark btn-sm">Edit</a>
                <a href="{% url 'mm:population_confirm' population_id=population_rec.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
