{% extends "mm/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <h4 class="mt-4 border-bottom">Population Records</h4>
    <a href="{% url 'mm:population_add' %}" class="btn btn-primary my-3">Add</a>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Year</th>
            <th scope="col">Place</th>
            <th scope="col">Cultivator</th>
            <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for population_rec in population_recs %}
        <tr>
            <td><a href="{% url 'mm:population_edit' population_id=population_rec.id %}">{{ population_rec.name }}</a></td>
            <td>{{ population_rec.year }}</td>
            <td>{{ population_rec.place }}</td>
            <td>{{ population_rec.cultivator }}</td>
            <td>
                <a href="{% url 'mm:population_upload' population_id=population_rec.id %}" class="btn btn-outline-dark btn-sm">Upload</a>
                <a href="{% url 'mm:population_edit' population_id=population_rec.id %}" class="btn btn-outline-primary btn-sm">Edit</a>
                <a href="{% url 'mm:population_confirm' population_id=population_rec.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
