{% extends "mm/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <h4 class="mt-4 mb-5 border-bottom">Confirm | Population Record</h4>
    <div class="row">
        <div class="col-md-12"><h5>Record ID: {{population.id}}</h5></div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr><td style="width:200px;">Name</td><td>{{population.name}}</td></tr>
                <tr><td>Year</td><td>{{population.year}}</td></tr>
                <tr><td>Place</td><td>{{population.place}}</td></tr>
                <tr><td>Cultivator</td><td>{{population.cultivator}}</td></tr>
                <tr><td>Description</td><td>{{population.description}}</td></tr>
            </tbody>
        </table>
    </div>
    {% if population_id %}
    <form action="{% url 'mm:population_del' population_id=population_id %}" method="post">
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'mm:population_list' %}" class="btn btn-outline-dark">Back</a>
        </div>
        <div class="offset-md-8 col-md-2">
            <a href="{% url 'mm:population_del'  population_id=population.id %}" class="btn btn-outline-danger">Delete</a>
        </div>
    </div>
    </form>
    {% endif %}
{% endblock content %}
