{% extends "mm/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <h4 class="mt-4 mb-5 border-bottom">Edit | Strain Record</h4>
    <form action="{% url 'mm:strain_edit' strain_id=strain_id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <div class="row">
            <div class="offset-md-3 col-md-3">
                <button type="submit" class="btn btn-outline-primary">OK</button>
            </div>
        </div>
    </form>
    <hr>
    <a href="{% url 'mm:strain_list' %}" class="btn btn-outline-dark">Back</a>
{% endblock content %}
