{% extends "mm/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <h4 class="mt-4 mb-5 border-bottom">Confirm | Strain Record</h4>
    <div class="row">
        <div class="col-md-12"><h5>Record ID: {{strain.id}}</h5></div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr><td style="width:200px;">Name</td><td>{{strain.name}}</td></tr>
                <tr><td>Population</td><td>{{strain.population}}</td></tr>
                <tr><td>Taxon</td><td>{{strain.taxon}}</td></tr>
                <tr><td>Description</td><td>{{strain.description}}</td></tr>
            </tbody>
        </table>
    </div>
    {% if strain_id %}
    <form action="{% url 'mm:strain_del' strain_id=strain_id %}" method="post">
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'mm:strain_list' %}" class="btn btn-outline-dark">Back</a>
        </div>
        <div class="offset-md-8 col-md-2">
            <a href="{% url 'mm:strain_del'  strain_id=strain.id %}" class="btn btn-outline-danger">Delete</a>
        </div>
    </div>
    </form>
    {% endif %}
{% endblock content %}
